/* use for https://stackoverflow.com/q/5138719 */
.hidden {
    display: none;
}

.illustration {
    display: block;
    margin: 0 auto;
}

.auto_fit {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}
